section {
  margin-top: 3%;
  text-align: center;
  color: #FFFFFF;
}

.bottom_border {
  height: 20px;
  margin-left: 35%;
  width: 30%;
  position: center;
  border-bottom:1px solid #2C394B;
  padding-bottom:20px;
}
