<!-- Stylesheets -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<footer>
  <!-- Find Me -->
  <div class="container bottom_border find-me">
    <div>
      <div>
        <h5 class="col_white_amrc pt2">Find me</h5>
        <p><i class="fa fa-location-arrow"></i> Thor 166 Saalfelden Austria </p>
        <p><i class="fa fa-phone"></i>  Auf Anfrage  </p>
        <p><i class="fa fa fa-envelope"></i> info@baumistlustig.eu  </p>
      </div>
    </div>
  </div>

  <!-- Nav-Menu -->
  <div class="container">
    <ul class="footer_bottom_ul_amrc">
      <li><a href="">Home</a></li>
      <li><a href="news">News</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="about">About</a></li>
      <li><a href="impressum">Impressum</a></li>
    </ul>
  </div>

  <!-- Social-List -->
  <ul class="social_footer_list">
    <li><a href="https://www.discord.gg/mEJwSbJqJg" target="_blank"><i class="fab fa-discord"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UCI8RI26Ek6ZHQ_nzLjpkazw" target="_blank"><i class="fab fa-youtube"></i></a></li>
    <li><a href="https://www.twitter.com/Baumistlustig2" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://www.reddit.com/r/BaumsTechBlog/" target="_blank"><i class="fab fa-reddit"></i></a></li>
    <li><a href="https://www.github.com/Baumistlustig" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a href="https://www.twitch.tv/baumistlustig" target="_blank"><i class="fab fa-twitch"></i></a></li>
    <li><a href="https://www.twitch.tv/baumistlustig" target="_blank"><i class="fab fa-linkedin"></i></a></li>
  </ul>
</footer>
