<header>
  <div>
    <a href="/"><img src="../../../assets/pictures/icons/icon.png" class="logo" alt="Logo"></a>
  </div>
  <nav>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#leaderboard">Leaderboard</a></li>
      <li><a href="#api">API</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="/datapolicy">Data-Policy</a></li>
      <li><a href="https://github.com/Baumistlustig" target="_blank">GitHub</a></li>
    </ul>
    <div class="user">
      <img src="assets/pictures/user.png" alt="">
      <p>User</p>
    </div>
  </nav>
</header>
