<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
  <div>
    <a href="/"><img src="../../../assets/pictures/icons/icon.png" class="logo" alt="Logo"></a>
  </div>
  <nav class="topnav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#leaderboard">Leaderboard</a></li>
      <li><a href="#api">API</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="/data-policy">Data-Policy</a></li>
      <li><a href="https://github.com/Baumistlustig" target="_blank">GitHub</a></li>
      <li>
        <a href="javascript:void(0);" class="icon">
          <i class="fa fa-bars"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
