<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
  <div>
    <a href="/"><img src="../../../assets/pictures/icons/icon.png" class="logo" alt="Logo"></a>
  </div>

  <nav>
    <a routerLink="/"><i class="fa fa-home"></i></a>
    <a href="#about">About</a>
    <a href="#leaderboard">Leaderboard</a>
    <a href="#api">API</a>
    <a href="#contact">Contact</a>
    <a routerLink="/impress">Impress</a>
    <a routerLink="/data-policy">Data-Policy</a>
    <a href="https://github.com/Baumistlustig" target="_blank">GitHub</a>
    <a href="javascript:void(0);" class="icon">
      <i class="fa fa-bars"></i>
    </a>
    <app-search-bar></app-search-bar>
  </nav>
</header>
