<!--<section id ="user">
  <img src="https://cdn.discordapp.com/avatars/634856429538508801/6d093a47c2160a2ed53184bee04d938f.png?size=4096">
  <h1>{{data[0].discord_name}}</h1>

  <p>Experience: {{data[0].experience}}</p>

</section>
-->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<div *ngIf="!isObject(data); then thenBlock; else elseBlock"></div>

<ng-template #thenBlock>
  <div class="container-user">
    <div class="row">
      <!-- Single Advisor-->
      <div class="user_profile">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <!-- Team Thumb-->
          <div class="advisor_thumb"><img [src]="data[0].discord_avatar" alt="" class="img">
            <!-- Social Info-->
            <div class="social-info">
              <a href="#"><i class="fab fa-discord"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <p>{{data[0].discord_name}}</p>
            <h5 class="designation">Experience: {{data[0].experience}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #elseBlock>
  <div class="no_user_found">
    <h1>No user found!</h1>
    <app-search-bar></app-search-bar>
  </div>
</ng-template>
