<div class="impress">
  <h4>Impressum</h4>

  <p><b>Informationen und Offenlegung gemäß &sect;5 (1) ECG, &sect; 25 MedienG, &sect; 63 GewO und &sect; 14 UGB</b></p>

  <p><b>Webseitenbetreiber:</b> Johannes Höllwerth</p>

  <p><b>Anschrift:</b> Thor, 166, 5760 Saalfelden</p>

  <p><b>Kontaktdaten:</b>
    <br> Telefon: Auf Anfrage <br>
    Email: johannes.hoellwerth@protonmail.com <br>
  </p>

  <p><b>Anwendbare Rechtsvorschrift:</b> www.ris.bka.gv.at</p>

  <p>
    <b>Online Streitbeilegung:</b> <br>
    Verbraucher, welche in Österreich oder in einem sonstigen Vertragsstaat der ODR-VO niedergelassen sind, haben die Möglichkeit Probleme<br>
    bezüglich dem entgeltlichen Kauf von Waren oder Dienstleistungen im Rahmen einer Online-Streitbeilegung (nach OS, AStG) zu lösen. <br>
    Die Europäische Kommission stellt eine Plattform hierfür bereit: https://ec.europa.eu/consumers/odr
  </p>

  <p><b>Urheberrecht:</b> <br> Die Inhalte dieser Webseite unterliegen, soweit dies rechtlich möglich ist, diversen Schutzrechten (z.B dem Urheberrecht). Jegliche <br>
    Verwendung/Verbreitung von bereitgestelltem Material, welche urheberrechtlich untersagt ist, bedarf schriftlicher Zustimmung des Webseitenbetreibers.</p>

  <p>
    <b>Haftungsausschluss:</b> <br>
    Trotz sorgfältiger inhaltlicher Kontrolle übernimmt der Webseitenbetreiber dieser Webseite keine Haftung für die Inhalte externer Links. <br>
    Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Sollten Sie dennoch auf ausgehende Links aufmerksam werden,<br>
    welche auf eine Webseite mit rechtswidriger Tätigkeit/Information verweisen, ersuchen wir um dementsprechenden Hinweis, um diese nach § 17 Abs. 2 ECG umgehend zu entfernen.<br>
    Die Urheberrechte Dritter werden vom Betreiber dieser Webseite mit größter Sorgfalt beachtet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden,<br>
    bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden derartiger Rechtsverletzungen werden wir den betroffenen Inhalt umgehend entfernen.</p>
  <p>Quelle: <b><a href="https://fairesRecht.at/">Rechtsanwalt</a></b> in Kooperation mit <b><a href="https://fairemiete.at/">Miete reduzieren faireMiete</a></b></p>
</div>
