html {
  margin: 0;
  background-color: #334756;
  font-family: Ubuntu, serif;
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
}

section {
  margin-top: 5%;
  text-align: center;
  color: #FFFFFF;
}

.bottom_border {
  margin-left: 36%;
  width: 30%;
  border-bottom:1px solid #2C394B;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


a {
  color: #FF4C29;
}
