ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* container */
.container {
  width: 350px;
  height: 330px;
  border-radius: 10px;
  background-color: #2c394b;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  margin-top: 10%;
  margin-left: 51%;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: hidden;
}

/* leaderboard */
.leaderboard {
  background: #2c394b;
}

.leaderboard:hover {
  background-color: #082032;
  transition-duration: 0.75s;
}

/* head */
.leaderboard .head {
  padding-top: 5%;
  color: snow;
  font-size: 20px;
  text-align: center;
}
.leaderboard .head h1 {
  display: inline-block;
  margin-left: 4px;
}

/* body */
.leaderboard .body {
  color: snow;
  font-size: 16px;
}
.leaderboard ol {
  counter-reset: number;
}
.leaderboard li {
  padding: 17px;
  display: flex;
  width: auto;
}
.leaderboard li mark {
  flex-grow: 1;
  color: snow;
  background-color: transparent;
}
.leaderboard li:before {
  counter-increment: number;
  content: counter(number) '.';
  margin-right: 4px;
}
.leaderboard li:nth-child(1) {
  background: #fa6855;
}
.leaderboard li:nth-child(2) {
  background: #e0574f;
}
.leaderboard li:nth-child(3) {
  background: #d7514d;
}
.leaderboard li:nth-child(4) {
  background: #cd4b4b;
}
.leaderboard li:nth-child(5) {
  background: #c24448;
}

.fa-crown {
  margin-right: 1%;
}

.leaderboard .body ol .experience {
  position: absolute;
  padding-left: 80%;
  float: right;
  text-align: right;
}
